* {
    box-sizing: border-box;
    margin: 0px;
}

.container {
    display: grid;
    width: 100vw;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.header {
    background-color: #1B1A17;
    color: white;
    font-family: 'league gothic', sans-serif;
    font-size: 60px;
    text-align: center;
    grid-area: header;
}

.nav {
    background-color: #E45826;
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    font-size: 20px;
}

.main {
    background-color: #F0A500;
}

.inquire {
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image img {
    width: 500px;
}

.inquiry-form {
    display: grid;
    grid-template-areas: 
    "personal message"
    "personal message"
    "personal message"
    "submit submit";
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1em;
    background-color: #F0A500;
}

.personal {
    grid-area: personal;
}

.message {
    grid-area: message;
}

.submit {
    grid-area: submit;
}

.personal label {
    display: block;
}

.inquiry-form input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0em;
}

.footer {
    background-color: #E6D5B8;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer1 {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer2 {
    grid-column: 2/3;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer3 {
    display: flex;
    grid-column: 3/4;
    padding: 30px;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

/* Extra small devices (phones, 610px and down) */
@media screen and (max-width:610px) {
    .footer {
        grid-template-columns: 100%;
    }
    .footer1, .footer2, .footer3 {
        grid-column: 1/2;
    }
    .inquiry-form {
        display: grid;
        grid-template-areas: 
        "personal personal"
        "personal personal"
        "message message"
        "message message"
        "submit submit";
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5, auto);
        grid-gap: 1em;
        background-color: #F0A500;
    }
}